{% extends 'base.html.twig' %}

{% block title %}Hello VillesController!{% endblock %}

{% block body %}
<div class="container-fluid pt-3">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Les VILLES</h2>
            <p>Filtrer les sites</p>
            <label>Le nom contient : <input type="search"></label> <br>
            <div class="btn-container"><button>Rechercher</button>
            </div></div>
        <section id="tableau_villes">
            <table class="table ">
                <tbody>
                <tr class="table-warning">
                    <th>Villes</th>
                    <th>Actions</th>
                </tr>

                {% for ville in villes %}
                    <tr>
                        <td> {{ ville.nom }}</td>
                        <td>Pour admin
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div></div>

        {% endblock %}
