{% extends 'base.html.twig' %}

{% block title %}Modif Campus{% endblock %}

{% block body %}
    <h2>Modifier Campus</h2>
    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}


    {{ form_end(campusForm) }}
    <a href="{{ path('app_campus') }}">
        <button>Retour</button>
    </a>
{% endblock %}